In [196]:
'''

@Author: Vighnesh Harish Bilgi
@Date: 2022-11-22
@Last Modified by: Vighnesh Harish Bilgi
@Last Modified time: 2022-11-22
@Title : Fetch and Process Tweet items from DynamoDB table using PySpark

'''

'\n\n@Author: Vighnesh Harish Bilgi\n@Date: 2022-11-22\n@Last Modified by: Vighnesh Harish Bilgi\n@Last Modified time: 2022-11-22\n@Title : Fetch and Process Tweet items from DynamoDB table using PySpark\n\n'

In [197]:
import findspark
findspark.init()

In [198]:
import boto3
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [199]:
import os
os.environ['AWS_DEFAULT_REGION'] = 'us-east-1'
os.environ['AWS_ACCESS_KEY_ID'] = os.environ.get('test1_access_key')
os.environ['AWS_SECRET_ACCESS_KEY'] = os.environ.get('test1_secret_access_key')
TABLE_NAME = 'WorldCup2022Tweets'

In [200]:
spark = SparkSession.builder.master("local").appName("Reading DynamoDB items into RDD ").getOrCreate()
print(spark.sparkContext.appName)

Reading DynamoDB items into RDD

### Reading items from DynamoDB Table into a list of dictionaries

In [201]:
dyDB =  boto3.resource('dynamodb')   

table = dyDB.Table(TABLE_NAME)

table_details = table.scan()
table_items = table_details['Items']

list_of_dict = []
# appending all items/dictionaries from the table to a list
for item in table_items:
    # print(item)
    list_of_dict.append(item)

Prinitng Every Item in the table:

In [202]:
spark_df = spark.createDataFrame(list_of_dict)
spark_df.show(10)

C:\apps\spark-3.0.0-bin-hadoop2.7\python\pyspark\sql\session.py:378: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+--------------------+--------------------+-------------------+--------------------+-------------------+---------------+--------------------+-----------------------+
|    ArrivalTimestamp|        display_name|           tweet_id|          tweet_text|            user_id|      user_name|  word_count_on_text|word_occurences_on_text|
+--------------------+--------------------+-------------------+--------------------+-------------------+---------------+--------------------+-----------------------+
|2022-11-22 12:51:...|                Rags|1594954296491409409|@INSIGHTUK2 Even ...|1456973849082224646|      rhalharvi|19.00000000000000...|   19.00000000000000...|
|2022-11-22 12:54:...|         Andy Newton|1594954908859596800|World Cup Betting...|           68403698| NewtsDailyLays|16.00000000000000...|   16.00000000000000...|
|2022-11-22 12:50:...|        MODI FOREVER|1594953972326227968|RT @gnuseibeh: Qa...|          163162895| royprateek2010|24.00000000000000...|   24.00000000000000...|
|2022-11-22 12:46:...|           GKT⚽JJK💜|1594952993954496512|RT @FahadAlkubais...|1291957477408272384|   lovelykana23|25.00000000000000...|   25.00000000000000...|
|2022-11-22 12:41:...|Kumar Gaurav #Gla...|1594951772044668928|RT @gnuseibeh: Qa...|         1528472935|gauravkumar1508|24.00000000000000...|   24.00000000000000...|
|2022-11-22 12:52:...|         Jo Geissler|1594954407086813184|@ThomasHitz @Virg...| 817098678037020673|    geissler_jo|19.00000000000000...|   19.00000000000000...|
|2022-11-22 12:48:...|       manishnajkani|1594953468888113152|@Unimoni_India 🔥...|1180840929382600704| manishnajkani1|18.00000000000000...|   18.00000000000000...|
|2022-11-22 12:50:...|                Mila|1594954051506298880|RT @INSIGHTUK2: "...|1591424514725814273|   Mila78604235|23.00000000000000...|   23.00000000000000...|
|2022-11-22 12:44:...|              tarkam|1594952536863444993|@LauraMcAllister ...|1148352210327261185|  tarkamAtLarge|52.00000000000000...|   52.00000000000000...|
|2022-11-22 12:44:...|     Md Nayeem Hasan|1594952340142182400|RT @BitMart_Futur...|1468416268294582278| Nayeemhasan121|22.00000000000000...|   22.00000000000000...|
+--------------------+--------------------+-------------------+--------------------+-------------------+---------------+--------------------+-----------------------+
only showing top 10 rows

In [203]:
spark_df.describe().show()

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-----------------------+
|summary|    ArrivalTimestamp|        display_name|            tweet_id|          tweet_text|             user_id|    user_name|  word_count_on_text|word_occurences_on_text|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-----------------------+
|  count|                1004|                1004|                1004|                1004|                1004|         1004|                1004|                   1004|
|   mean|                null|                null|1.594953288752600...|                null|1.082297965066966...|         null|21.49302788844621...|   21.49302788844621...|
| stddev|                null|                null|1.034527046427790...|                null|5.975100107108737...|         null|   7.634532920648764|      7.634532920648764|
|    min|2022-11-22 12:40:...|            # Tejesh| 1594951523317981184|#Iran players pro...| 1007121392054095872|   09_hickory|2.000000000000000000|   2.000000000000000000|
|    max|2022-11-22 12:55:...|🧊Bancuhcrypto.me...| 1594955124069535745|🚨At the #WorldCu...|           999108734|zjiouo17qob__|60.00000000000000...|   60.00000000000000...|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-----------------------+

In [204]:
spark_df.summary().show()

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-----------------------+
|summary|    ArrivalTimestamp|        display_name|            tweet_id|          tweet_text|             user_id|    user_name|  word_count_on_text|word_occurences_on_text|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-----------------------+
|  count|                1004|                1004|                1004|                1004|                1004|         1004|                1004|                   1004|
|   mean|                null|                null|1.594953288752600...|                null|1.082297965066966...|         null|21.49302788844621...|   21.49302788844621...|
| stddev|                null|                null|1.034527046427790...|                null|5.975100107108737...|         null|   7.634532920648764|      7.634532920648764|
|    min|2022-11-22 12:40:...|            # Tejesh| 1594951523317981184|#Iran players pro...| 1007121392054095872|   09_hickory|2.000000000000000000|   2.000000000000000000|
|    25%|                null|                null|1.594952383477387...|                null|8.554253340065669...|         null|                19.0|                   19.0|
|    50%|                null|                null|1.594953325094789...|                null|1.383094905816375...|         null|                21.0|                   21.0|
|    75%|                null|                null|1.594954168602599...|                null|1.513399906052055...|         null|                24.0|                   24.0|
|    max|2022-11-22 12:55:...|🧊Bancuhcrypto.me...| 1594955124069535745|🚨At the #WorldCu...|           999108734|zjiouo17qob__|60.00000000000000...|   60.00000000000000...|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-----------------------+

### Data Processing

In [205]:
# Dropping last column
spark_df = spark_df.drop("word_occurences_on_text")
spark_df.printSchema()

root
 |-- ArrivalTimestamp: string (nullable = true)
 |-- display_name: string (nullable = true)
 |-- tweet_id: string (nullable = true)
 |-- tweet_text: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- word_count_on_text: decimal(38,18) (nullable = true)

In [206]:
# Changing data types of 'word count on text' to integer
spark_df = spark_df.withColumn("word_count_on_text",spark_df.word_count_on_text.cast('int'))
spark_df.printSchema()

root
 |-- ArrivalTimestamp: string (nullable = true)
 |-- display_name: string (nullable = true)
 |-- tweet_id: string (nullable = true)
 |-- tweet_text: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- word_count_on_text: integer (nullable = true)

In [207]:
# Removing the milliseconds part of ArrivalTimestamp
spark_df = spark_df.withColumn('Timestamp', substring('ArrivalTimestamp', 1,19))
# spark_df = spark_df.withColumn('Timestamp', split(spark_df['ArrivalTimestamp'], '.').getItem(0)).withColumn('milliseconds', split(spark_df['ArrivalTimestamp'], '.').getItem(1))
# spark_df = spark_df.drop("milliseconds")
spark_df.printSchema()
spark_df.select('ArrivalTimestamp','Timestamp').show(10, truncate = False)

root
 |-- ArrivalTimestamp: string (nullable = true)
 |-- display_name: string (nullable = true)
 |-- tweet_id: string (nullable = true)
 |-- tweet_text: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- word_count_on_text: integer (nullable = true)
 |-- Timestamp: string (nullable = true)

+--------------------------------+-------------------+
|ArrivalTimestamp                |Timestamp          |
+--------------------------------+-------------------+
|2022-11-22 12:51:58.145000+05:30|2022-11-22 12:51:58|
|2022-11-22 12:54:24.462000+05:30|2022-11-22 12:54:24|
|2022-11-22 12:50:40.345000+05:30|2022-11-22 12:50:40|
|2022-11-22 12:46:47.176000+05:30|2022-11-22 12:46:47|
|2022-11-22 12:41:56.082000+05:30|2022-11-22 12:41:56|
|2022-11-22 12:52:24.573000+05:30|2022-11-22 12:52:24|
|2022-11-22 12:48:40.395000+05:30|2022-11-22 12:48:40|
|2022-11-22 12:50:59.093000+05:30|2022-11-22 12:50:59|
|2022-11-22 12:44:58.143000+05:30|2022-11-22 12:44:58|
|2022-11-22 12:44:11.335000+05:30|2022-11-22 12:44:11|
+--------------------------------+-------------------+
only showing top 10 rows

In [208]:
# Convert Timestamp column of type string into type timestamp 
spark_df = spark_df.withColumn("Timestamp_2",to_timestamp("Timestamp"))
spark_df.printSchema()
spark_df.select('ArrivalTimestamp','Timestamp','Timestamp_2').show(10, truncate = False)

root
 |-- ArrivalTimestamp: string (nullable = true)
 |-- display_name: string (nullable = true)
 |-- tweet_id: string (nullable = true)
 |-- tweet_text: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- word_count_on_text: integer (nullable = true)
 |-- Timestamp: string (nullable = true)
 |-- Timestamp_2: timestamp (nullable = true)

+--------------------------------+-------------------+-------------------+
|ArrivalTimestamp                |Timestamp          |Timestamp_2        |
+--------------------------------+-------------------+-------------------+
|2022-11-22 12:51:58.145000+05:30|2022-11-22 12:51:58|2022-11-22 12:51:58|
|2022-11-22 12:54:24.462000+05:30|2022-11-22 12:54:24|2022-11-22 12:54:24|
|2022-11-22 12:50:40.345000+05:30|2022-11-22 12:50:40|2022-11-22 12:50:40|
|2022-11-22 12:46:47.176000+05:30|2022-11-22 12:46:47|2022-11-22 12:46:47|
|2022-11-22 12:41:56.082000+05:30|2022-11-22 12:41:56|2022-11-22 12:41:56|
|2022-11-22 12:52:24.573000+05:30|2022-11-22 12:52:24|2022-11-22 12:52:24|
|2022-11-22 12:48:40.395000+05:30|2022-11-22 12:48:40|2022-11-22 12:48:40|
|2022-11-22 12:50:59.093000+05:30|2022-11-22 12:50:59|2022-11-22 12:50:59|
|2022-11-22 12:44:58.143000+05:30|2022-11-22 12:44:58|2022-11-22 12:44:58|
|2022-11-22 12:44:11.335000+05:30|2022-11-22 12:44:11|2022-11-22 12:44:11|
+--------------------------------+-------------------+-------------------+
only showing top 10 rows

In [209]:
# Dropping ArrivalTimestamp and Timestamp column, renaming Timestamp_2 to Timestamp , reordering columns and then orders DF by Timestamp and then tweet_id
spark_df = spark_df.drop("ArrivalTimestamp", "Timestamp")
spark_df = spark_df.withColumnRenamed("Timestamp_2","Timestamp")
spark_df = spark_df.select("tweet_id","Timestamp","display_name","user_name","user_id","tweet_text","word_count_on_text")
spark_df = spark_df.sort(col("Timestamp"),col("tweet_id"))
spark_df.printSchema()
spark_df.show()

root
 |-- tweet_id: string (nullable = true)
 |-- Timestamp: timestamp (nullable = true)
 |-- display_name: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- tweet_text: string (nullable = true)
 |-- word_count_on_text: integer (nullable = true)

+-------------------+-------------------+----------------------------------+---------------+-------------------+--------------------+------------------+
|           tweet_id|          Timestamp|                      display_name|      user_name|            user_id|          tweet_text|word_count_on_text|
+-------------------+-------------------+----------------------------------+---------------+-------------------+--------------------+------------------+
|1594951526619176961|2022-11-22 12:40:57|                           resa_ds|      leyla_677| 965136351455715328|RT @AmnestyIran: ...|                23|
|1594951523317981184|2022-11-22 12:40:58|                              O.G.|  whatisgooding|         3451959143|I’m sorry, but #L...|                33|
|1594951524769300480|2022-11-22 12:40:58|                      هەموو ژیناین|       zhinakan|1462890041437474817|Isalamic Republic...|                36|
|1594951525843013633|2022-11-22 12:40:58|                   SPORTSCONTINENT|SPORTSCONTINEN2|1345500487374811137|NETHERLANDS 🇳🇱 ...|                15|
|1594951529488060416|2022-11-22 12:40:58|                         Newbiland|      newbiland|1483936314110406656|RT @binary_x: ❓Wh...|                20|
|1594951532398940160|2022-11-22 12:40:59|                      Rey Quraishi|        rey_qur|          358769498|Started as a “10”...|                30|
|1594951534437187586|2022-11-22 12:40:59|                       Shahbaz Ali|  Shahbaz033432|1369619773106098176|@TopGoal_NFT Arge...|                 3|
|1594951544495304704|2022-11-22 12:41:01|                             Billa|       Billa032|1593402442393489408|RT @RoadQatar_WC:...|                20|
|1594951545069658117|2022-11-22 12:41:02|                        Zain Bajwa|  Zain_BajwaPTI|1505203001702686721|Weldon @qatar
You...|                26|
|1594951545849888768|2022-11-22 12:41:02|                           HQ VITA|         HQVita|1200810243372015617|• THREAD

Argenti...|                17|
|1594951550035955712|2022-11-22 12:41:03|                   Yiannis Mamakis|     yiannism80|          238065523|RT @TopGoal_NFT: ...|                19|
|1594951550400712704|2022-11-22 12:41:03|                       Imen maamir|     ImenMaamir|1588642494413213696|@gate_io or $DUCK...|                32|
|1594951552766447616|2022-11-22 12:41:03|ラテマエ@インデックス投資 時々 ...|   lattemaestro|1007121392054095872|RT @TopGoal_NFT: ...|                19|
|1594951556658610176|2022-11-22 12:41:04|              Greatest Hits Rad...|     GHRNorfolk|           78933122|In the news with ...|                41|
|1594951564069949441|2022-11-22 12:41:06|                      هەموو ژیناین|       zhinakan|1462890041437474817|Isalamic Republic...|                36|
|1594951574950121474|2022-11-22 12:41:09|              🧊Bancuhcrypto.me...|   bancuhcrypto|1503408509756403715|RT @IOTASoccerTea...|                22|
|1594951576124542976|2022-11-22 12:41:09|                      Amy Guettler|  saltedbayonet|          118870812|RT @TaylorMaydeuk...|                23|
|1594951583913377793|2022-11-22 12:41:11|                        iChongqing|iChongqing_CIMC|1022324783428526080|Where's the fan o...|                37|
|1594951598572437505|2022-11-22 12:41:15|                   Robert Quintero|RobQuintero9200|1560853965478080518|#Qatar2022 #World...|                14|
|1594951601491709953|2022-11-22 12:41:15|                          Prof KKC|   KaranjaKeita|         3322895986|RT @Sea__Solitude...|                16|
+-------------------+-------------------+----------------------------------+---------------+-------------------+--------------------+------------------+
only showing top 20 rows

In [210]:
spark_rdd = spark_df.rdd